
<template>
<main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
    </ol>
    <div class="container-fluid">
        <!-- Ejemplo de tabla Listado -->
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Revistas en Issuu
                <button type="button" class="btn btn-secondary" id="nuevo">
                    <i class="icon-plus"></i>&nbsp;Nuevo
                </button>
            </div>
            <div class="card-body">

                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Opciones</th>
                            <th>Nombre</th>
                            <th>Portada</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="revista in arrayRevistas" :key="revista.document.name">
                            <td>
                                <button @click="abrirModal('publicar','revista',revista.document)"  type="button" class="btn btn-warning btn-sm" >
                                  <i class="icon-pencil"></i>
                                </button> &nbsp;
                            </td>
                            <td v-text="revista.document.title"></td>
                            <td><img height="120px" style="display:block;margin:auto" :src="'https://image.issuu.com/'+revista.document.documentId+'/jpg/page_1_thumb_large.jpg'" alt=""></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!-- Fin ejemplo de tabla Listado -->
    </div>
    <!--Inicio del modal agregar/actualizar-->
    <div class="modal fade" :class="{'mostrar':modal}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" v-text="tituloModal"></h4>
                        <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row">
                                <div class="col-md-3">
                                   <img height="200px" style="display:block;margin:auto" :src="'https://image.issuu.com/'+revistaId+'/jpg/page_1_thumb_large.jpg'" alt="">
                                </div>
                                <div class="col-md-9">
                                    <h4 v-text="nombre"></h4>
                                    <p style="font-size:12px" v-text="descripcion"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="text-input">Precio</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de categoría">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label" for="email-input">Sub Categoria</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="descripcion" class="form-control" placeholder="Nombre de la sub categoría">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="cerrarModal()" class="btn btn-secondary" >Cerrar</button>
                        <button type="button" v-if="tipoAccion==1" @click="addCategoria()" class="btn btn-primary">Guardar</button>
                         <button type="button"  v-if="tipoAccion==2" @click="actualizarCategoria()" class="btn btn-primary">Actualizar</button>
                    </div>
                </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--Fin del modal-->
    <!-- Inicio del modal Eliminar -->

    <!-- Fin del modal Eliminar -->
</main>
</template>

<script>
    export default {
        data(){
            return {
                arrayRevistas:[],
                arrayPublicados:[],
                modal:0,
                nombre:'',
                descripcion:'',
                revistaId:'',
                tituloModal:'',
                tipoAccion:0
            }
        },
        methods : {

            listarRevistas(){
                let me=this;

                axios.get('http://api.issuu.com/1_0?action=issuu.documents.list&apiKey=0k7i2vss1eyi99c9ru9yiyt7nnbt4ocl&access=public&pageSize=30&responseParams=title%2Cdescription%2CdocumentId%2Cname&format=json&signature=e6c59db74c963417662b952b64fba7f9')
                .then(function (response) {
                    me.arrayRevistas = response.data.rsp._content.result._content
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })

            },
            listarPublicados(){
                let me=this;
                axios.get('/admin/revistas')
                .then(function (response) {
                    me.arrayPublicados=response.data;
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                });
            },
            abrirModal(modelo,accion, data =[]){
                switch (modelo) {
                    case "publicar":
                    {
                        switch (accion) {
                           case "revista":
                            {
                                this.modal=1;
                                this.nombre=data['title'];
                                this.descripcion=data['description'];
                                this.revistaId=data['documentId'];
                                this.tituloModal='Agregar Revista';
                                this.tipoAccion=1
                                break
                            }
                            case "ebook":
                            {
                                this.modal=1;
                                this.nombre=data['name'];
                                this.descripcion=data['id'];
                                this.sub_categoria=data['sub_categoria'];
                                this.tituloModal='Agregar Ebook';
                                this.tipoAccion=2
                                break
                            }
                        }
                    }

                }
            },
            cerrarModal(){
                this.modal=0;
                this.tituloModal='';
                this.tipoAccion=0
            },
        },
        mounted() {
            this.listarRevistas();
            this.listarPublicados();
        }

    }
</script>
<style scoped>
    .modal-content{
            width: 100%!important;
            position: absolute!important;
    }
    .mostrar{
        display: list-item!important;
        opacity: 1!important;
        position: absolute!important;
        background-color:#00000050!important;
    }
</style>
